/* Reset default margin and padding */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

/* Full-height flex container */
.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.menu-container {
  width: 259px;
  flex-shrink: 0; /* Prevent shrinking */
}

.content-container {
  flex: 1; /* Take the remaining space */
  background: #DBE7E5;
  display: flex;
  flex-direction: column;
  overflow: auto; /* Allow scrolling if content overflows */
  padding-top: 20px;
}

